<template>
  <tr>
    <td v-for="(col, index) in columns" :key="index">
      {{ buck[col] }}
    </td>
  </tr>
</template>

<script>
export default {
  props: {
    buck: {},
    columns: {
      default: () => []
    }
  }
};
</script>
