<template>
  <tr @click="click" :class="{ selected, subscribed }">
    <td v-for="(col, index) in columns" :key="index">
      {{ instrument[col] }}
    </td>
  </tr>
</template>

<script>
import BitMexWS from "../BitMex";

export default {
  data: () => ({
    client: null,
    instrument: {},
    subscribed: false
  }),
  props: {
    inst: {},
    selected: {},
    columns: {
      default: () => []
    }
  },
  beforeMount() {
    this.instrument = this.inst;
  },
  methods: {
    select() {
      this.$emit("select", this.instrument);
    },
    click() {
      this.select();
      if (!this.subscribed)
        this.client = new BitMexWS(
          `instrument:${this.instrument.symbol}`,
          this.update
        );
    },
    update(e) {
      const data = JSON.parse(e.data);

      if (data.subscribe && data.success) {
        this.subscribed = true;
      }

      if (data.action) {
        this.instrument = Object.assign({}, this.instrument, data.data[0]);
      }
    }
  }
};
</script>

<style>
.selected {
  background-color: red;
  color: #fff;
}
.subscribed {
  border: 1px solid green;
}
</style>
