<template>
  <tr>
    <td v-for="(col, index) in columns" :key="index">
      {{ order[col] }}
    </td>
  </tr>
</template>

<script>
export default {
  props: {
    order: {},
    columns: {
      default: () => []
    }
  }
};
</script>
