<template>
  <b-container fluid>
    <b-row class="pt-4 mb-4">
      <b-col cols="3">
        <table class="table scroll-500">
          <instrument
            :columns="['symbol', 'lastPrice']"
            v-for="inst in instruments"
            :key="inst.id"
            :inst="inst"
            @select="selectionInst"
            :selected="selectInst === inst"
          />
        </table>
      </b-col>
      <b-col cols="6">
        <table class="table scroll-500">
          <bucket
            v-for="bucket in buckets"
            :key="bucket.id"
            :buck="bucket"
            :columns="['timestamp', 'open', 'high', 'low', 'close', 'volume']"
          />
        </table>
      </b-col>
      <b-col cols="3">
        <b-card header="Order">
          <b-form>
            <label>Volume</label>
            <b-form-input
              label="qwd"
              placeholder="Volume"
              :disabled="!selectInst"
              v-model="volume"
            />
            <small>{{ error }}</small>
            <div class="d-flex justify-content-center">
              <b-btn
                :disabled="!selectInst"
                class="m-3"
                @click="sendOrder('Buy')"
                >Buy</b-btn
              >
              <b-btn
                :disabled="!selectInst"
                class="m-3"
                @click="sendOrder('Sell')"
                >Sell</b-btn
              >
            </div>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <table class="table">
          <order
            v-for="order in orders"
            :key="order.id"
            :order="order"
            :columns="[
              'orderID',
              'symbol',
              'orderQty',
              'timestamp',
              'side',
              'price',
              'ordStatus'
            ]"
          />
        </table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import BitMexClient from "./BitMex";

import Instrument from "./components/Instrument";
import Bucket from "./components/Bucket";
import Order from "./components/Order";

export default {
  name: "App",
  components: { Order, Bucket, Instrument },
  data: () => ({
    instruments: [],
    buckets: [],
    selectInst: null,
    client: null,
    orders: [],
    volume: 1,
    error: ""
  }),
  mounted() {
    this.getInstruments();
    this.getOrders();
  },
  methods: {
    selectionInst(inst) {
      this.selectInst = inst;

      this.getBucket(inst.symbol);
      if (this.client) this.client.close();

      this.client = new BitMexClient(
        `tradeBin1m:${inst.symbol}`,
        this.updateBucket
      );
    },
    updateBucket(e) {
      const data = JSON.parse(e.data);
      if (data.action === "insert") {
        this.buckets.pop();
        this.buckets.unshift(data.data[0]);
      }
    },
    getBucket(symbol) {
      this.axios
        .get(`bucket/${symbol}`)
        .then(({ data }) => (this.buckets = data));
    },
    getInstruments() {
      this.axios
        .get("/instruments")
        .then(({ data }) => (this.instruments = data));
    },
    getOrders() {
      this.axios.get("/orders").then(({ data }) => (this.orders = data));
    },
    sendOrder(side) {
      this.error = "";

      if (this.volume <= 0) {
        this.volume = 1;
        return;
      }
      const data = {
        symbol: this.selectInst.symbol,
        orderQty: this.volume,
        ordType: "Market",
        side
      };

      this.axios.post("/order", data).then(({ data }) => {
        if (!data.error) this.orders.unshift(data);

        this.error = data.error.message;
      });
    }
  }
};
</script>
<style>
.scroll-500 {
  display: block;
  max-height: 500px;
  overflow-y: auto;
}
</style>
